body {
  padding: 30px;
  font-size: 18px;
  margin: auto;
  width: 50%; 
  color: SteelBlue;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100px;
  height: 100 px;

}

h2 {
  border-style: solid;
  color: white;
  background-color: rgb(0, 149, 255);
}

footer {
  
}